<% unless controller_name == "welcome" %>
<div class="comment">
  <div class="datetime">
    <%= friendly_datetime(comment.created_at) %>
  </div>
  <div style="font-size:12px;color:#777">
    <% if comment.composer_id %>
      <% composer = User.find(comment.composer_id) %>
      <% if composer.role?(:admin) %>
        <span class="admin"><%= link_to composer.abbreviation, about_path %>:</span>
      <% elsif comment.composer_id == @user.id %>
        <span class="manager"><%= link_to h(comment.user.abbreviation), store_path(h(comment.user.username)) %>:</span>
      <% else %>
        <span><%= link_to composer.abbreviation, store_path(composer.username) %>:</span>
      <% end %>
    <% else %>
      <%=h comment.name %>:
    <% end %>
  </div>
  <div style="padding:5px 0;font-size:12px;">
    <%=h comment.content %>
  </div>
</div>
<% else %>
  <div class="<%= comment_counter == 0 ? "comment first" : "comment" %>">
    <div class="datetime">
      <%= friendly_datetime(comment.created_at) %>
    </div>
    <div style="font-size:12px;color:#777">
      <% composer = User.find(comment.composer_id) %>
      <% if composer.role?(:admin) %>
        <span class="admin"><%= link_to composer.abbreviation, about_path %>:</span>
      <% else %>
        <span><%= link_to composer.abbreviation, store_path(composer.username) %>:</span>
      <% end %>
    </div>
    <div style="padding:5px 0;font-size:12px">
      <%=h comment.content %>
    </div>
  </div>
<% end %>
