<% title "Comment" %>

<p>
  <strong>User:</strong>
  <%=h @comment.user_id %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @comment.name %>
</p>
<p>
  <strong>Contact:</strong>
  <%=h @comment.contact %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @comment.content %>
</p>

<p>
  <%= link_to "View All", comments_path %>
</p>
