<% title "Stores", false %>

<% form_tag search_url, :method => 'get' do %>
  <%= text_field_tag :q, params[:q], :size => "25" %>
  <%= submit_tag "Search", :name => nil %>
  <%= radio_button_tag 'type', "products" %>Products
  <%= radio_button_tag 'type', "stores", true %>Stores
<% end %>

<ul style="list-style:none;margin:20px 0;padding:0;width:50%">
  <% for user in @users %>
    <li style="margin: 5px 0">
      <div class="clear"></div>
      <div style="float:left;width:48px;height:48px;border:1px solid #DDD;margin-right:15px;text-align:center">
	<% unless user.products.empty? || user.products.first.images.empty? %>
	  <%= link_to image_tag(cloudfront(user.products.first.images.first.attachment.url(:mini))), store_path(user.username) %>
	<% end %>
      </div>
      <div style="min-height:60px">
        <div>
          <strong><%= link_to h(user.store_name), store_path(user.username) %></strong> -
	  <%=h user.address %>
        </div>
        <div style="margin-top:3px">
	  <%= truncate h(user.description), 70 %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
