<% if params[:q].blank? %>
  <% title t('search.all_stores'), false %>
<% else %>
  <% title t('search.store_search') + ' - ' + params[:q], false %>
<% end %>

<div id="search">
  <% form_tag search_url, :name => "sitesearch", :method => 'get' do %>
    <div class="input">
      <%= text_field_tag :q, params[:q], :autocomplete => "off", :size => "25" %>
      <%= submit_tag '', :name => nil, :class => "submit" %>
    </div>
    <div class="info clear">
      <div class="search-options">
        <%= radio_button_tag 'type', "products" %><%= label_tag "type_products", t('activerecord.models.product') %>
        &nbsp;
        <%= radio_button_tag 'type', "stores", true %><%= label_tag "type_stores", t('activerecord.models.user') %>
      </div>
      <div class="count-number">
	<%= @users_count.to_s %> <%= t('search.result') %>
      </div>
    </div>
  <% end %>
</div>

<% if @users.size == 0 %>
  <div class="store-listing">
    <%= t('search.no_stores_found') %>
  </div>
<% else %>
  <ul class="store-listing">
    <% for user in @users %>
      <li>
	<div class="image">
        <div class="image-shadow">
	  <% unless user.products.with_images.empty? %>
	    <%= link_to image_tag(cloudfront(user.products.with_images.descend_by_pageviews_count.first.images.first.attachment.url(:mini)), :width => 48, :height => 48, :alt => ""), store_path(user.username) %>
	  <% end %>
        </div>
	</div>

        <div class="info">
          <div class="title">
            <% link_to store_path(user.username) do %>
	      <%= truncate h(user.abbreviation), 18 %> -
	      <%= truncate h(user.address), 30 %>
	    <% end %>
          </div>
          <div class="description">
	    <%= link_to truncate(h(user.description), 90), store_path(user.username) %>
          </div>
        </div>

      </li>
      <% end %>
  </ul>
<% end %>

<div id="pagination" class="clear">
  <%= will_paginate @users, :previous_label => t('pagination.previous'), :next_label => t('pagination.next') %>
</div>
