<% title @user.abbreviation, false %>

<% content_for :buttons do %>
  <li><%= link_to truncate(@user.abbreviation, :omission => "..", :length => 5), store_path(@user.username), :class => "button" %></li>
<% end %>

<div id="store-info">
  <h2><%= link_to @user.abbreviation, store_path(@user.username) %></h2>
  <div class="clearfix"> <!-- ie6/7 fix -->
    <div id="map_canvas" style="width:270px;height:100px">
      <!-- for google maps -->
    </div>
    <div class="attributes">
      <div class="clearfix">
        <div class="key"><strong><%= t('activerecord.attributes.user.store_name') %></strong>:</div>
        <div class="value"><%=h @user.store_name %></div>
      </div>
      <div  class="clearfix">
        <div class="key"><strong><%= t('activerecord.attributes.user.address') %></strong>:</div>
        <div class="value"><%=h @user.address %></div>
      </div>
      <div class="clearfix">
        <div class="key"><strong><%= t('activerecord.attributes.user.contact') %></strong>:</div>
        <div class="value"><%=h @user.contact %></div>
      </div>
      <div class="clearfix">
        <div class="key"><strong><%= t('users.url') %></strong>:</div>
        <div class="value"><%= link_to store_url(@user.username), store_url(@user.username) %></div>
      </div>
    </div>
  </div>
  <div class="description">
    <%= simple_format h(@user.description) %>
  </div>
</div>

<div id="store-products">
  <ul id="product-listing" class="product-listing clear">
    <% for product in @user.products.with_images.descend_by_pageviews_count %>
      <li data-id="product-<%= product.id %>">
        <div class="image-shadow">
          <% link_to product do %>
            <%= image_tag(cloudfront(product.images.first.attachment.url(:small)), :width => "100px", :height => "100px", :alt => "") unless product.images.empty? %>
	  <%  end %>
        </div>
        <div>
          <!-- for ie6/7's sake -->
        </div>
        <div class="info">
          <span class="name"><%= link_to (truncate(h(product.name), :length => 12)), product %></span>
          <span class="price"><%= number_to_currency product.price %></span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
