<% title t('activerecord.models.user') + ' - ' + @user.abbreviation, false %>

<% content_for :buttons do %>
  <li><%= link_to truncate(@user.abbreviation, :omission => "..", :length => 5), store_path(@user.username), :class => "button" %></li>
<% end %>

<% content_for :head do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      var map = initializeMap();
      var zoom = map.getZoom();
      var center = map.getCenter();

      $('#show_map').toggle(
        function() {
          $("#map_canvas").show();
          google.maps.event.trigger(map, 'resize');
          map.setZoom(zoom);
          map.setCenter(center);
          $("#show_map").html("<%= t('google_maps.hide_map') %>");
        },
        function() {
          $('#map_canvas').slideUp(200);
          $("#show_map").html("<%= t('google_maps.show_map') %>");
        }
      );
    });
  <% end %>
<% end %>

<div id="store-info">
  <h2><%= link_to @user.abbreviation, store_path(@user.username) %></h2>
  <div class="clearfixxxxxxx"> <!-- ie6/7 fix -->
    <div id="show_map" style="float:right;cursor:pointer;">
      <%= t('google_maps.show_map') %>
    </div>
    <div id="map_canvas" class="clear" style="width:758px;height:468px;display:none">
      <!-- for google maps -->
    </div>
    <table class="attributes" style="width:auto">
      <tr>
        <td><strong><%= t('activerecord.attributes.user.store_name') %></strong>:</td>
        <td><%=h @user.store_name %></td>
      </tr>
      <tr>
        <td><strong><%= t('activerecord.attributes.user.address') %></strong>:</td>
        <td><%=h @user.address %></td>
      </tr>
      <tr>
        <td><strong><%= t('activerecord.attributes.user.contact') %></strong>:</td>
        <td><%=h @user.contact %></td>
      </tr>
      <tr>
        <td><strong><%= t('users.url') %></strong>:</td>
        <td><%= link_to store_url(@user.username), store_url(@user.username) %></td>
      </tr>
    </table>
  </div>
  <div class="description">
    <%= simple_format h(@user.description) %>
  </div>
</div>

<div id="store-products">
  <ul id="product-listing" class="product-listing clear">
    <% for product in @user.products.with_images.descend_by_pageviews_count %>
      <li data-id="product-<%= product.id %>">
        <div class="image-shadow">
          <% link_to product do %>
            <%= image_tag(cloudfront(product.images.first.attachment.url(:small)), :width => "100px", :height => "100px", :alt => "#{product.name}", :title => "#{product.name}") unless product.images.empty? %>
	  <%  end %>
        </div>
        <div>
          <!-- for ie6/7's sake -->
        </div>
        <div class="info">
          <span class="name"><%= link_to (truncate(h(product.name), :length => 12)), product %></span>
          <span class="price"><%= number_to_currency product.price %></span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
