<div id="navigation">
  <% if current_user %>
    <% if admin? %>
      <%= link_to t('layout.navigation.stores'), admin_users_url %> |
    <% end %>
    <%= link_to truncate(h(current_user.abbreviation), :length => 12), store_path(current_user.username) %> |
    <%= link_to t('layout.navigation.profile'), admin_user_path(:current) %> |
    <% if seller? %>
      <%= link_to t('layout.navigation.products'), admin_products_path %> |
    <% end %>
    <%= link_to t('layout.navigation.logout'), logout_path %>
  <% else %>
    <%= link_to t('layout.navigation.login'), login_path %>
  <% end %>
</div>
