<% title "Bazaar", false %>

<% form_tag search_url, :method => 'get' do %>
  <%= text_field_tag :q, params[:q], :size => "25" %>
  <%= submit_tag "Search", :name => nil %>
  <%= radio_button_tag 'type', "products", true %>Products
  <%= radio_button_tag 'type', "stores" %>Stores
<% end %>

<ul class="product-listing">
  <% for product in @products %>
    <li>
      <% link_to product do %>
        <%= image_tag cloudfront(product.images.first.attachment.url(:small)) unless product.images.empty? %>
      <% end %>
      <% link_to product, :class => "info" do %>
        <span class="name"><%= h(product.name) %></span>
        <span class="price selling"><%= number_to_currency product.price %></span>
	<span class="store"><%= product.user.store_name %></span>
      <% end %>
    </li>
  <% end %>
</ul>
