<% form_for [:admin, @product], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :class=> "mceEditor", :style => "width:50%;height:36em" %>
  </p>

  <strong><%= f.label :attachment, t('images.upload') %></strong>

  <% 4.times { @product.images.build } %>

  <% for image in @product.images %>
    <% f.fields_for :images, image do |image_fields| %>
      <div class="clearfix">
        <% if image.id %>
	  <div style="float:left;width:48px;height:48px;border:1px solid #CCC;margin:0 20px 10px 0;padding:0">
	    <%= image_tag cloudfront(image.attachment.url(:mini)), :size => "48x48" %>
	  </div>
        <% end %>
	<%= image_fields.file_field :attachment %>
      </div>
    <% end %>
  <% end %>

  <p><%= f.submit t('buttons.submit') %></p>
<% end %>
