<% title t('layout.navigation.products') %>

<table class="products">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.product.name') %></th>
      <th class="number"><%= t('activerecord.attributes.product.pageviews_count') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for product in @products %>
      <tr>
        <td><%=h product.name %></td>
        <td class="number"><%= product.pageviews_count %></td>
        <td style="text-align:right">
	  <%= link_to t('buttons.edit'), [:admin, product] %> &nbsp;
	  <%= link_to t('buttons.destroy'), [:admin, product], :confirm => t('messages.are_you_sure'), :method => :delete %>
	</td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td class="number">&Sigma; <%= @products.sum(:pageviews_count) %></td>
      <td></td>
    </tr>
  </tfoot>
</table>

<%= link_to t('products.new_product'), new_admin_product_path %>
