<% title @product.name, false %>

<div style="margin-bottom:10px">
  <h2 style="margin-bottom:0"><%= @product.name %></h2>
</div>

<div style="float:right">
  <%= link_to t('buttons.edit'), edit_admin_product_path(@product) %>
</div>

<p>
  <strong><%= t('activerecord.attributes.product.price') %>:</strong> &nbsp;&nbsp;
  <%= number_to_currency(@product.price) %>
</p>
<%= @product.description %>

<hr />
<% for image in @product.images %>
  <div class="clear">
    <div style="float:left;width:48px;height:48px;border:1px solid #CCC;margin:0 20px 10px 0;padding:0"><%= image_tag cloudfront(image.attachment.url(:mini)), :size => "48x48" %></div>
    <div style="padding-top:12px">
      <%= link_to t('buttons.change'), edit_admin_image_path(image) %> &nbsp;
      <%= link_to t('buttons.destroy'), [:admin, image], :confirm => t('messages.are_you_sure'), :method => :delete %>
    </div>
  </div>
<% end %>

<hr class="space" />
<%= render :partial => 'admin/images/form' %>
