<% title @product.name, false %>

<div style="border-bottom:1px solid #DDD;margin-bottom:10px">
<div style="float:right">
  <%= link_to "Destroy", [:admin, @product], :confirm => 'Are you sure?', :method => :delete %>
</div>

<h2 style="margin-bottom:0"><%= @product.name %></h2>
</div>

<div style="float:right">
  <%= link_to "Edit", edit_admin_product_path(@product) %>
</div>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>
<%= @product.description %>

<hr />
<% for image in @product.images %>
  <div class="clear">
    <div style="float:left;width:50px;border:1px solid #DDD;margin:0 20px 10px 0"><%= image_tag cloudfront(image.attachment.url(:mini)) %></div>
    <%= link_to "Edit", edit_admin_image_path(image) %>
    <%= link_to "Destroy", [:admin, image], :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>

<hr class="space" />
<%= render :partial => 'admin/images/form' %>
