<% title @product.name, false %>

<div style="margin-bottom:10px">
  <h2 style="margin-bottom:0"><%= @product.name %></h2>
</div>

<div style="float:right">
  <%= link_to t('buttons.edit'), edit_admin_product_path(@product) %>
</div>

<p>
  <strong><%= t('activerecord.attributes.product.price') %>:</strong> &nbsp;&nbsp;
  <%= number_to_currency(@product.price) %>
</p>
<%= @product.description %>

<hr />
<strong><%= t('images.upload') %></strong>
<hr class="space" />


<% nested_form_for [:admin, setup_product(@product)], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <div>
    <% for image in @product.images %>
        <% f.fields_for :images, image do |builder| %>
          <%= render 'image_fields', :f => builder, :image => image %>
        <% end %>
    <% end %>
    <div style="margin:10px 0">
      <%= f.link_to_add t('images.add_an_image'), :images %>
    </div>
  </div>

  <p><%= f.submit t('buttons.submit') %></p>
<% end %>
