<% title "Stores", false %>

<% form_tag admin_users_url, :method => 'get' do %>
  <%= text_field_tag :q, params[:q], :size => "25" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<hr class="space" />
<table>
  <% for user in @users %>
    <tr>
      <td>
	<%= link_to user.username, store_path(user.username) %>
      </td>
      <td>
	<%=h user.abbreviation %>
      </td>
      <td>
	<%=h user.store_name %>
      </td>
      <td>
	<%=h user.contact %>
      </td>
      <td>
	<%=h user.created_at %>
      </td>
      <td style="text-align:right">
	<%= link_to "Edit", edit_admin_user_path(user == current_user ? "current" : user) %>
        <%= link_to "Destroy", [:admin, user], :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_admin_user_path %></p>
