<% title "Stores", false %>

<div id="search" style="margin-left:0">
  <% form_tag admin_users_url, :name => "sitesearch", :method => 'get' do %>
    <div class="input" style="margin-left:0">
      <%= text_field_tag :q, params[:q], :autocomplete => "off", :size => "25" %>
      <%= submit_tag '', :name => nil, :class => "submit" %>
    </div>
  <% end %>
</div>

<hr class="space" />
<table>
  <% for user in @users %>
    <tr>
      <td>
	<%= link_to user.username, store_path(user.username) %>
      </td>
      <td>
	<%=h user.abbreviation %>
      </td>
      <td>
	<%=h user.store_name %>
      </td>
      <td>
	<%=h user.contact %>
      </td>
      <td>
	<%=h user.created_at.to_datetime.strftime('%Y-%m-%d %H:%M:%S') %>
      </td>
      <td style="text-align:right">
	<%= link_to t('buttons.edit'), edit_admin_user_path(user == current_user ? "current" : user) %>
        <%= link_to t('buttons.destroy'), [:admin, user], :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to t('users.new_user'), new_admin_user_path %></p>
