<% title @user.store_name, false %>

<div style="border-bottom:1px solid #DDD;margin-bottom:10px">
  <h3><%=h @user.store_name %></h3>
</div>

<div style="float:right">
  <%= link_to "Edit", edit_admin_user_path("current") %>
</div>

<div style="float:left;margin-right:20px;border:1px solid #DDD">
  <div id="map_canvas" style="width:240px;height:150px"></div>
</div>

<div>
  <strong>Abbreviation:</strong>
  <%=h @user.abbreviation %>
</div>
<div>
  <strong>Address:</strong>
  <%=h @user.address %>
</div>
<div>
  <strong>Contact:</strong>
  <%=h @user.contact %>
</div>
<div>
  <strong>Latitude & Longitude:</strong>
  <%=h @user.latitude %>, <%=h @user.longitude %>
</div>
<div style="margin-top:15px">
  <div>
    <%=h @user.description %>
  </div>
</div>
