<% title @user.abbreviation, false %>

<div style="margin-bottom:10px">
  <h3><%=h @user.abbreviation %></h3>
</div>

<div style="float:right">
  <%= link_to t('buttons.edit'), edit_admin_user_path("current") %>
</div>

<div style="float:left;margin-right:20px;border:1px solid #DDD">
  <div id="map_canvas" style="width:240px;height:150px"></div>
</div>

<div>
  <strong><%= t('activerecord.attributes.user.store_name') %>:</strong>
  <%=h @user.store_name %>
</div>
<div>
  <strong><%= t('activerecord.attributes.user.address') %>:</strong>
  <%=h @user.address %>
</div>
<div>
  <strong><%= t('activerecord.attributes.user.contact') %>:</strong>
  <%=h @user.contact %>
</div>
<div>
  <strong><%= t('users.latitude_n_longitude') %>:</strong>
  <%=h @user.latitude %>, <%=h @user.longitude %>
</div>
<div style="margin-top:15px">
  <div>
    <%= simple_format h(@user.description) %>
  </div>
</div>
