<% title @user.store_name %>

<div style="border-bottom:1px solid #DDD;margin-bottom:10px">
  <div style="float:right">
    <%= link_to "Edit", edit_admin_user_path("current") %>
  </div>
  <h3>Profile</h3>
</div>
<div>
  <strong>Address:</strong>
  <%=h @user.address %>
</div>
<div>
  <strong>Email:</strong>
  <%=h @user.email %>
</div>
<div>
  <strong>Latitude & Longitude:</strong>
  <%=h @user.latitude %>, <%=h @user.longitude %>
</div>
