<% title "Products" %>

<div style="float:right">
  Sort by:
  <%= select_tag 'o', options_for_select(ordering_options, params[:order]), :onchange => "window.location='#{reset_ordering_parameter}'+this.options[this.selectedIndex].value;" %>
</div>

<% form_tag products_url, :method => 'get' do %>
  <%= text_field_tag :q, params[:q], :size => "25" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<ul>
  <% for product in @products %>
    <li>
      <%= link_to h(product.name), product %>
      <%= number_to_currency product.price %>
    </li>
  <% end %>
</ul>
