<% title @product.name %>
<% javascript "product" %>

<div id="product-images">
  <div id="main-image">
    <%= render 'image' -%>
  </div>
  <div id="thumbnails">
    <%= render 'thumbnails', :product => @product -%>
  </div>
</div>

<div style="width:60%">
  <div>
    <strong>Price:</strong>
    <%= number_to_currency @product.price %>
  </div>
  <div>
    <strong>Store:</strong>
    <%= link_to @product.user.store_name, store_path(@product.user.username) %> -
    <%= @product.user.address %>
  </div>
  <div style="margin-top:20px">
    <%= @product.description %>
  </div>
</div>
