<% title @product.name + ' - ' + @product.user.abbreviation, false %>

<% content_for :buttons do %>
  <li><strong><%= link_to truncate(@product.user.abbreviation, :omission => "...", :length => 9), store_path(@product.user.username), :class => "button" %></strong></li>
  <% for category in @user.categories %>
    <% unless category.products.empty? %>
      <ul>
	<li><a href="<%= store_path(@user.username) %>#<%= category.name %>"><%= category.name %></a></li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<% if @product.images.size > 1 %>
  <% content_for :preloader do %>
    <% @product.images.each do |i| %>  
      <%= image_tag cloudfront(i.attachment.url(:product)), :width => "1", :height => "1" %>
    <% end %>
  <% end %>
<% end %>

<div id="product">
  <h2><%= link_to @product.name, @product %></h2>

  <div id="product-images">
    <div id="main-image">
      <%= render 'image' -%>
    </div>
    <div id="thumbnails">
      <%= render 'thumbnails', :product => @product -%>
    </div>
  </div>

  <table class="attributes">
    <tr>
      <td class="key"><span><strong><%= t('activerecord.models.user') %></strong>:</span></td>
      <td>
        <% link_to store_path(@product.user.username) do %>
          <%= @product.user.abbreviation %> -
          <%= @product.user.address %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="key"><strong><%= t('activerecord.attributes.product.price') %></strong>:</td>
      <td><%= @product.price == 0.01 ? t('products.nil_price_short') : number_to_currency(@product.price) %></td>
    </tr>
  </table>

  <div class="description">
    <%= @product.description %>
  </div>
</div>

<% content_for :comments do %>
  <% @comment = Comment.new(:user_id => @user.id) %>

  <div class="group">
    <div class="title">
      <%= t('comments.talk_to_manager') %>
    </div>

    <div class="add_comment">
      <%= render :partial => 'comments/form' %>
    </div>

    <% unless @user.comments.empty? %>
      <div id="comments" class=" content clear">
	 <%= render @user.comments.recent %>
      </div>
    <% end %>
  </div>
<% end %>
