<% title @product.name, false %>

<div id="product">
  <h2><%= link_to @product.name, @product %></h2>

<div id="product-images">
  <div id="main-image">
    <%= render 'image' -%>
  </div>
  <div id="thumbnails">
    <%= render 'thumbnails', :product => @product -%>
  </div>
</div>

<div>
  <div>
    <strong><%= t('activerecord.attributes.product.price') %>:</strong>
    <%= number_to_currency @product.price %>
  </div>
  <div>
    <strong><%= t('activerecord.models.user') %>:</strong>
    <% link_to store_path(@product.user.username) do %>
      <%= @product.user.store_name %> -
      <%= @product.user.address %>
    <% end %>
  </div>
</div>

<div>

  <div style="margin-top:20px">
    <%= @product.description %>
  </div>
</div>
</div>
