<% title @product.name %>
<% javascript "product" %>

<div id="product-images">
  <div id="main-image">
    <%= render 'image' -%>
  </div>
  <div id="thumbnails">
    <%= render 'thumbnails', :product => @product -%>
  </div>
</div>

<p>
  <strong>Store:</strong>
  <%= link_to @product.user.username, store_path(@product.user.username) %>
</p>
<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</p>
<p>
  <%= @product.description %>
</p>
