<% title t('user_sessions.login'), false %>

<div id="login" style="margin:36px auto;width:240px">
<h2><%= t('user_sessions.login') %></h2>
<% form_for @user_session do |f| %>
  <div class="text">
  <p>
    <%= f.label :username, t('user_sessions.username') %><br />
    <%= f.text_field :username, :size => 30 %>
  </p>
  <p>
    <%= f.label :password, t('user_sessions.password')  %><br />
    <%= f.password_field :password, :size => 30 %>
  </p>
  </div>
  <p>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, I18n.t("user_sessions.remember_me") %>
  </p>
  <div class="submit">
    <p><%= f.submit t('user_sessions.sign_in') %></p>
  </div>
<% end %>
</div>
