<% title "Image" %>

<%= image_tag @image.attachment.url %>

<p>
  <strong>Attachment:</strong>
  <%=h @image.attachment %>
</p>

<p>
  <%= link_to "Edit", edit_image_path(@image) %> |
  <%= link_to "Destroy", @image, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", images_path %>
</p>
