<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Bazaar") %></title>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js' %>
    <%= render :partial => 'shared/googlemaps'%>
    <%= include_tiny_mce_if_needed %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="wrapper" class="container">
      <div id="header">
	<%= render :partial => 'shared/navigation' %>
        <h1><%= link_to "Bazaar", root_url %></h1>
      </div>
      <div id="main" class="clear">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
      
        <%- if show_title? -%>
          <h2><%=h yield(:title) %></h2>
        <%- end -%>
      
        <%= yield %>
      </div>
    </div>
  </body>
</html>
